@model IEnumerable<AirTickets_project.Plane>

@{
    ViewData["Title"] = "Cамолеты модели";
}

<h1>Самолеты модели  @ViewBag.ModelsName </h1>

<p>
    <a asp-action="Create" asp-route-modelsId="@ViewBag.ModelId">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Models)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Models.Firm)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanesId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.PlanesId">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanesId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
