@model AirTickets_project.Model

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Модель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ModelsId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
