@model AirTickets_project.Flight

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Рейс</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfArrivalNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfArrivalNavigation.NameOfAirport)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfDepartureNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfDepartureNavigation.NameOfAirport)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Planes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Planes.PlanesId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FlightsId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
