@model IEnumerable<AirTickets_project.Ticket>

@{
    ViewData["Title"] = "Приобретенные билеты";
}

<h1>Приобретенные билеты @ViewBag.TypesName</h1>

<p>
    @Html.ActionLink("Добавить новый билет","Create", new {typesId=ViewBag.TypesId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Types)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clients.ClientsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flights.FlightsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types.TypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketsId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.TicketsId">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketsId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
