@model IEnumerable<AirTickets_project.Client>

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Клиенты </h1>

<p>
    <a asp-action="Create"asp-route-id="@ViewBag.ClientsId">Добавить клиента </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientsId">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ClientsId">Детально</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientsId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
